.app-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem 1.5rem 1rem;
  gap: 1rem;
}

.app-bar .right-divison {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
}

.app-bar .accenture {
  color: #4731d2;
}
