.footer-heading {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  font-family: "inter", sans-serif;
  line-height: 3rem;
}

.contacts-container {
  margin: 3rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.email {
  text-decoration: underline;
  font-size: 1.1rem;
}

.email:hover {
  transition: all 0.1s ease;
  cursor: pointer;
}

.linkcustom {
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}
