.line {
  flex: 1;
  height: 1px;
  margin-right: 10px;
  max-width: 80px;
}

.title {
  font-family: "Inter";
  font-weight: 700;
  line-height: 5rem;
  padding: 1rem 0;
}

.description {
  font-family: "Inter";
  font-size: 1.2rem;
  font-weight: 400;
}

.button-container .secondary:hover {
  color: black;
  background-color: inherit;
}
