.nav-bar .right-divison .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: large;
  padding: 0 2rem;
  border: none;
}

.nav-bar .right-divison .nav-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-size: large;
  padding: 0 2rem;
}
