.projects-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 5rem;
}

.card-custom-body {
  gap: 1rem !important;
  padding: 2rem 1rem;
}

.card:hover {
  cursor: default;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
  cursor: default;
}

.links-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.links-container a:hover {
  transition: all 0.1s ease;
}
