.projects-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 5rem;
}

.card:hover {
  cursor: default;
}

.links-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.links-container a:hover {
  color: var(--primary-color);
  transition: all 0.1s ease;
}

.card-body {
  gap: 1rem;
  padding: 2rem 1rem;
}
